
@if $enable-alignment {

    $breakpoints: $grid-breakpoints;

    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {

            .text#{$infix}-right {
                text-align: right;
            }
            .text#{$infix}-left {
                text-align: left;
            }
            .text#{$infix}-center {
                text-align: center;
            }

            .float#{$infix}-left {
                float: left;
            }
            .float#{$infix}-right {
                float: right;
            }
        }
    }

}
