
@if $enable-border {

    $breakpoints: $grid-breakpoints;

    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {

            .bl#{$infix}-1 {
                border-left-width: 1px;
            }
            .bt#{$infix}-1 {
                border-top-width: 1px;
            }
            .br#{$infix}-1 {
                border-right-width: 1px;
            }
            .bb#{$infix}-1 {
                border-bottom-width: 1px;
            }
        }
    }

    .border {
        border: 1px solid #{$colour-border};
        border-radius: 0.3rem;
    }

}
