
@mixin button-variant(
    $background,
    $border,
    $color: color-contrast($background),
    $hover-background: darken($background, 7.5%),
    $hover-border: darken($border, 10%),
    $hover-color: color-contrast($hover-background),
    $active-background: darken($background, 10%),
    $active-border: darken($border, 12.5%),
    $active-color: color-contrast($active-background),
    $disabled-background: lighten($background, 20%),
    $disabled-border: lighten($border, 25%),
    $disabled-color: color-contrast($disabled-background),
)
{
    background-color: $background;
    border-color: $border;
    color: $color;
        
    &:hover {
        background-color: $hover-background;
        border-color: $hover-border; 
        color: $hover-color
    }
    &:focus, 
    &.focus {
        box-shadow: 0 0 0 0.15rem rgba($color, .5);
    }

    &:active,
    &.active 
    {
        background-color: $active-background;
        border-color: $active-border; 
        color: $active-color;
    }

    &:disabled,
    &.disabled 
    {
        background-color: $disabled-background;
        border-color: $disabled-border; 
        color: $disabled-color; 
    }
}

@mixin button-outline-variant(
    $background,
    $border,
    $color: $border,
    $hover-background: $border,
    $hover-border: darken($border, 10%),
    $hover-color: color-contrast($hover-background),
    $active-background: darken($background, 10%),
    $active-border: darken($border, 12.5%),
    $active-color: color-contrast($active-background),
    $disabled-background: lighten($background, 20%),
    $disabled-border: lighten($border, 25%),
    $disabled-color: color-contrast($disabled-background),
)
{
    background-color: $background;
    border-color: $border;
    color: $color;
        
    &:hover {
        background-color: $hover-background;
        border-color: $hover-border; 
        color: $hover-color
    }
    
    &:focus, 
    &.focus {
        box-shadow: 0 0 0 0.15rem rgba($color, .5);
    }

    &:active,
    &.active 
    {
        background-color: $active-background;
        border-color: $active-border; 
        color: $active-color;
    }

    &:disabled,
    &.disabled 
    {
        background-color: $disabled-background;
        border-color: $disabled-border; 
        color: $disabled-color; 
    }
}

@if $enable-btn {
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        cursor: pointer;
    }

    .btn:focus,
    .btn.focus
    {
        box-shadow: $btn-box-shadow; 
    }

    .btn:disabled,
    .btn.disabled  {
        opacity: 0.65; 
        cursor: initial;
    }

    @each $color, $value in $theme-colors {
        .btn-#{$color} {
            @include button-variant($value, $value);
        }
    }

    @if $enable-btn-outline {
        @each $color, $value in $theme-colors {
            .btn-outline-#{$color} {
                @include button-outline-variant($colour-background, $value);
            }
        }
    }

    @if $enable-resize {
        @each $size, $factor in $resize-factors {
            
            .btn.#{$size} {
                padding: 0.375rem * $factor 0.75rem * $factor;
            }
        }
      }
}
