
@mixin card-variant(
    $colour,
    $background: $colour,
    $border: darken($colour, 5%),
) {
    background-color: $background;
    border-color: $border;

    .card-title {
        background-color: darken($background, 4%);
        border-bottom: 1px solid $border;
    }
    .card-subtitle {
        background-color: darken($background, 2%);
        border-bottom: 1px solid $border;
    }
    .card-commands {
        background-color: lighten($background, 2%);
        border-top: 1px solid $border;
    }
}

@mixin card-outline-variant(
    $colour,
    $background: $colour,
    $border: darken($colour, 5%),
) {
    border-color: $border;

    .card-title {
        border-bottom: 1px solid $border;
    }
    .card-subtitle {
        border-bottom: 1px solid $border;
    }
    .card-commands {
        border-top: 1px solid $border;
    }
}

@if $enable-cards {

    $breakpoints: $grid-breakpoints;

    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);
        $count: map-get($map: $columns, $key: $breakpoint);

        @include media-breakpoint-up($breakpoint, $breakpoints) {
            .card-columns {
                column-count: #{$count};
            }
        }
    }

    .card-columns .card {
        margin-bottom: 0.9rem; 
        break-inside: avoid-column;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.3rem;
    }
    .card-body,
    .card-commands {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0.6rem;
    }
    .card-title {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.2rem 0.6rem;
        font-size: 150%;
    }
    .card-subtitle {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.2rem 0.6rem;
        font-size: 120%;
    }
    .card-text:last-child {
        margin-bottom: 0;
    }

    @each $color, $value in $card-colors {
        .card-#{$color} {
            @include card-variant($value);
        }
    }

    @each $color, $value in $card-colors {
        .card-outline-#{$color} {
            @include card-outline-variant($value);
        }
    }
}
