
$breakpoints: $grid-breakpoints;

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
}

.container.container-fluid {
  width: 100%;
}

@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);
  $size: map-get($map: $breakpoints, $key: $breakpoint);

  @include media-breakpoint-up($breakpoint, $breakpoints) {

    .container {
      max-width: $size - 30px;
    }
    header.container {
      max-width: $size - 10px;
    }
  }
}
