
@if $enable-display {

    $breakpoints: $grid-breakpoints;
  
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {

            .d#{$infix}-none {
                display: none;
            }
            .d#{$infix}-block {
                display: block;
            }
            .d#{$infix}-inline {
                display: inline;
            }
            .d#{$infix}-inline-block {
                display: inline-block;
            }
            .d#{$infix}-table-cell {
                display: table-cell;
            }
            .d#{$infix}-initial {
                display: initial;
            }

            .d#{$infix}-flex {
                display: flex;
            }
            .flex#{$infix}-row {
                -ms-flex-direction: row;
                flex-direction: row;
            }
            .flex#{$infix}-column {
                -ms-flex-direction: column;
                flex-direction: column;
            }
            .align-items#{$infix}-center {
                -ms-flex-align: center;
                align-items: center;
            }
            
        }
    }
}
