
@if $enable-footer {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        background-color: #fafafa;
        border-top: 1px solid #eeeeee;
        font-family: #{$font-footer}
    }
    footer nav a {
        padding: 0 0.6rem;
    }
}
