
@if $enable-forms {
    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1; 
    }
    
    label {
        margin: 0 0 0 0;
        font-size: 0.8rem;
        font-weight: 700;
        color: #{$colour-label}
    }

    .form-row {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    .form-row:first-child {
        margin-top: 0;
    }
    .form-row:last-child {
        margin-bottom: 0;
    }
}
