
@if $enable-header {

    $breakpoints: $grid-breakpoints;

    .navbar {
        font-family: $font-nav;
        background-color: $colour-primary;
        color: #{$colour-primary-link};
        box-shadow: 0px -15px 45px 10px rgba(0,50,200,0.25);
        border-bottom: 1px solid rgba(151, 177, 255, 0.25);
        font-weight: 600;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        border-bottom-left-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        line-height: 1;
    }

    .navbar a {
        color: #{$colour-primary-link};
    }

    .navbar a:hover {
        color: #{$colour-primary-link-hover};
    }

    .nav-link {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
    
    .navbar a.navbar-brand {
        color: #fff;
        font-weight: 600;
        font-size: 1.4rem;
    }
    
    .navbar a.navbar-brand:hover {
        opacity: 0.8;
    }
    
    .navbar a.navbar-brand img.logo {
        height: 80px;
    }
    
    .navbar .navbar-toggler-icon {
        background-image: $icon-toggle;
        cursor: pointer;
    }

    .navbar-brand {
        font-size: 1.6rem;
    }
}
