@if $enable-modal {
    .modal-container {
        /*
        position:  fixed;
        top: 300px;
        left: 50%;
        width: 375px;
        background: white;
        margin-left: -187.5px;
        text-align: center;
        box-shadow: 0px 0px 2px 1px black;
        z-index: 100;
        */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: fixed;
        z-index: 100;
      }

      .modal-content {
        background-color: #fefefe;
        margin: 3rem auto;
        padding: 0.3rem;
        border: 1px solid #888;
        width: 640px;
        height: 480px;
        max-width: 100vw;
        max-height: 100vh;
        border-radius: 0.3rem;
      }
      
      .modal-overlay {
        position: absolute;
        top: 0px;
        left:  0px;
        z-index:  99;
        background:  rgba(0,0,0,0.8);
        width:  100%;
        height: 100%;
      }
}
