
@if $enable-position {

    $breakpoints: $grid-breakpoints;

    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {

            .position-absolute#{$infix}-tl {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
            }
            .position-absolute#{$infix}-tr {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 100;
            }
            .position-absolute#{$infix}-bl {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 100;
            }
            .position-absolute#{$infix}-br {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 100;
            }
        }
    }

}
