*, *:before, *:after {
    box-sizing: border-box;
}

pre {
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;

    font-family: $font-primary;
    color: $colour-text;

    margin-bottom: 2.6rem;
}

p {
    margin-block-start: 0.6rem;
    margin-block-end: 0.6rem;
}
p:first-child {
    margin-block-start: 0;
}
p:last-child {
    margin-block-end: 0;
}

hr {
    border-top: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #{$colour-link};
}
a:hover {
    color: #{$colour-link-hover};
}

.img-fluid {
    max-width: 100%;
    height: auto; 
}

.round {
    border-radius: 0.2rem;
}
.round-b {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
