
@if $enable-spacing {

    $breakpoints: $grid-breakpoints;
  
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {

            @each $key, $value in $spacers {

                .m#{$infix}-#{$key} {
                    margin: #{$value};
                }
                .mt#{$infix}-#{$key} {
                    margin-top: #{$value};
                }
                .mr#{$infix}-#{$key} {
                margin-right: #{$value};
                }
                .mb#{$infix}-#{$key} {
                    margin-bottom: #{$value};
                }
                .ml#{$infix}-#{$key} {
                    margin-left: #{$value};
                }
                .mh#{$infix}-#{$key}, .mx#{$infix}-#{$key} {
                    margin-left: #{$value};
                    margin-right: #{$value};
                }
                .mv#{$infix}-#{$key}, .my#{$infix}-#{$key} {
                    margin-top: #{$value};
                    margin-bottom: #{$value};
                }

                @if $key != 'auto' {
            
                    .p#{$infix}-#{$key} {
                        padding: #{$value};
                    }
                    .pt#{$infix}-#{$key} {
                        padding-top: #{$value};
                    }
                    .pr#{$infix}-#{$key} {
                        padding-right: #{$value};
                    }
                    .pb#{$infix}-#{$key} {
                        padding-bottom: #{$value};
                    }
                    .pl#{$infix}-#{$key} {
                        padding-left: #{$value};
                    }
                    .ph#{$infix}-#{$key}, .px#{$infix}-#{$key} {
                        padding-left: #{$value};
                        padding-right: #{$value};
                    }
                    .pv#{$infix}-#{$key}, .py#{$infix}-#{$key} {
                        padding-top: #{$value};
                        padding-bottom: #{$value};
                    }
                }

            }
        }
    }
}
