
@if $enable-spinner {

    div.spinner {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 25vh;
        margin-bottom: 25vh;
        margin-left: 25vw;
        margin-right: 25vw;
        width: 50vw;
        height: 50vh;
        display: flex;
        -ms-flex-align: center!important;
        align-items: center!important;

        em {
            width: 100vw;
            text-align: center;
        }
    }
}
