
@if $enable-tables {
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        border: 1px solid #ddd;
        border-radius: 0.3rem;
    }
    table thead tr {
        background-color: #ddd; 
        border-bottom: 1px solid #ddd;
    }
    table td,
    table th {
        padding: 0.6rem;
        vertical-align: top;
    }

    table.table-striped tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    table.table-striped tbody tr:nth-child(even) {
        background-color: #eee;
    }
}
