
@if $enable-titles {

    h1, div.h1 {
        font-size: 1.5rem;
        margin: 0;
        margin-block-start: 0.6rem;
        margin-block-end: 0.8rem;

        font-weight: 600;
        text-align: center;
        color: $colour-text;
    }

    h2, div.h2 {
        font-size: 1.2rem;
        margin: 0;
        margin-block-start: 0.6rem;
        margin-block-end: 0.3rem;

        font-weight: 600;
        font-size: 1.5rem;
        border-bottom: 1px solid $colour-secondary;
        padding-bottom: 0.3rem;
    }

    h3, div.h3 {
        font-size: 1.1rem;
        margin: 0;
        margin-block-start: 0.9rem;
        margin-block-end: 0.3rem;
    }

}
