
// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:      #0d6efd !default;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #d63384 !default;
$red:       #dc3545 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffc107 !default;
$green:     #28a745 !default;
$teal:      #20c997 !default;
$cyan:      #17a2b8 !default;
$lime:      #90bf13 !default;
$tangarine: #f68e56 !default;

$primary:       #90bf13 !default;
$secondary:     #f68e56 !default;
$action:        #0d6efd !default;
$success:       #28a745 !default;
$info:          #17a2b8 !default;
$warning:       #ffc107 !default;
$danger:        #dc3545 !default;
$background:    #ffffff !default;

// Themes
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "action":     $action,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger
) !default;

$card-colors: (
  "primary":    lighten($primary, 40%),
  "secondary":  lighten($secondary, 30%),
  "action":     lighten($action, 40%),
  "success":    lighten($success, 50%),
  "info":       lighten($info, 50%),
  "warning":    lighten($warning, 40%),
  "danger":     lighten($danger, 40%),
  "form":       #f8f9fa
) !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   3 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $gray-900 !default;
$color-contrast-light:     $white !default;

// Enable Components
$enable-grid: true !default;
$enable-resize: true !default;
$enable-alignment: true !default;
$enable-display: true !default;
$enable-width: true !default;
$enable-spacing: true !default;
$enable-border: true !default;
$enable-position: true !default;
$enable-header: true !default;
$enable-titles: true !default;
$enable-forms: true !default;
$enable-cards: true !default;
$enable-alerts: true !default;
$enable-tables: true !default;
$enable-footer: true !default;
$enable-spinner: true !default;
$enable-modal: true !default;

// Enable Buttons
$enable-btn: true !default;
$enable-btn-outline: true !default;

// Page Colours (Deprecated)
$colour-primary: $primary !default;
$colour-secondary: $secondary !default;
$colour-background: $background !default;
$colour-text: #333 !default;
$colour-label: #0b3c65 !default;
$colour-border: #cccccc !default;

// Link Colours
$colour-link: #333 !default;
$colour-link-hover: #669 !default;
$colour-primary-link: #fff !default;
$colour-primary-link-hover: #ddd !default;

// Buttons
$btn-box-shadow: inset 0 1px 0 rgba($colour-background, .15), 0 1px 1px rgba($colour-text, .075) !default;

// Fonts
$font-primary: Roboto, Arial, sans-serif !default;
$font-nav: Arial, sans-serif !default;
$font-footer: Arial, sans-serif !default;

// SVG Icons
$icon-toggle: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(10, 10, 10, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

// Grid
$grid-columns: 12 !default;
$gutter-width: 0rem !default;
$outer-margin: 0rem !default;

$grid-breakpoints: (
  xs: 0,
  sm: 520px,
  md: 960px,
  lg: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$resize-factors: (
  xs: 0.50,
  sm: 0.75,
  md: 1.00,
  lg: 1.50,
  xl: 2.50
) !default;

$spacer: 0.3rem !default;
$spacers: (
  0: $spacer * 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  auto: auto
) !default;

$paddings: (
  xs: 0.2rem,
  sm: 0.3rem,
  md: 0.4rem,
  lg: 0.4rem
) !default;

$columns: (
  xs: 1,
  sm: 2,
  md: 2,
  lg: 3
) !default;
