
@if $enable-width {

    $breakpoints: $grid-breakpoints;

    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {

            .w#{$infix}-100 {
                width: 100%;
            }
            
            .w#{$infix}-50 {
                width: 50%;
            }

            .w#{$infix}-30 {
                width: 30%;
            }
        }
    }

}
