// TODO: Auto padding

@mixin make-grid($breakpoints: $grid-breakpoints, $columns: $grid-columns){

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
  }

  .row.collapse div.col {
    line-height: 0px;
  }


  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);
    $padding: map-get($map: $paddings, $key: $breakpoint);

    @include media-breakpoint-up($breakpoint, $breakpoints) {

      // NOTE: Use breakpoint here to keep col as seperate denominator
      .col#{$breakpoint} {
        flex: 0 0 100%;
        max-width: 100%;
      }
      
      .col#{$infix}-auto {
        @include make-col-auto();
      }

      @for $i from 1 through $columns {
        .col#{$infix}-#{$i} {
          @include make-col($i, $columns);
        }
      }

      // `$columns - 1` because offsetting by the width of an entire row isn't possible
      @for $i from 0 through ($columns - 1) {
        @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
          .offset#{$infix}-#{$i} {
            @include make-col-offset($i, $columns);
          }
        }
      }

      .col.p-auto,
      .p-auto {
          padding: $padding;
      }

      .form.p-auto .row .col {
          padding: $padding;
      }
    }
  }

  /* Grid Manual Padding */
  @each $key, $value in $spacers {
    @if $key != 'auto' {
      .form.p-#{$key} .row .col {
        padding: #{$value};
      }
      .col.p-#{$key},
      .p-#{$key} {
        padding: #{$value};
      }
    }
  }
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin make-col-auto() {
  flex: 0 0 auto;
  max-width: auto;
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}
