<div class="container px-2 px-sm-0">
  <h1>Button Samples</h1>

  <h2>Just Buttons</h2>
  <div class="form">
    <div class="row">
      <div class="col">
        Standard Buttons
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn">Button</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">Primary</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary">Secondary</button>
      </div>
      <div class="col">
        <button class="btn btn-success">Success</button>
      </div>
      <div class="col">
        <button class="btn btn-danger">Danger</button>
      </div>
      <div class="col">
        <button class="btn btn-warning">Warning</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        Disabled Buttons
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn disabled">Button</button>
      </div>
      <div class="col">
        <button class="btn btn-primary disabled">Primary</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary disabled">Secondary</button>
      </div>
      <div class="col">
        <button class="btn btn-success disabled">Success</button>
      </div>
      <div class="col">
        <button class="btn btn-danger disabled">Danger</button>
      </div>
      <div class="col">
        <button class="btn btn-warning disabled">Warning</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        Outline Buttons
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-outline">Button</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-primary">Primary</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-secondary">Secondary</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-success">Success</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-danger">Danger</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-warning">Warning</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        Disabled Outline Buttons
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-outline disabled">Button</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-primary disabled">Primary</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-secondary disabled">Secondary</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-success disabled">Success</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-danger disabled">Danger</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-warning disabled">Warning</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        Button Sizes
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn xs">XS Button</button>
      </div>
      <div class="col">
        <button class="btn sm">SM Button</button>
      </div>
      <div class="col">
        <button class="btn md">MD Button</button>
      </div>
      <div class="col">
        <button class="btn lg">LG Button</button>
      </div>
      <div class="col">
        <button class="btn xl">XL Button</button>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>