<div class="container">
  <div class="h2">AlanLeoUk-UI - Home</div>

  <button class="btn btn-action" (click)="config.current.brandUseLogo = !config.current.brandUseLogo">
    Toogle Brand Logo
  </button>
</div>