<ng-container *ngIf="config.current; else loading">
  <header class="container">
    <div class="navbar">
      <div class="container d-flex flex-column flex-md-row align-items-center">

        <a class="navbar-brand mr-0 mr-md-3 mb-2 mb-md-0" [routerLink]="'/home'">
          <img *ngIf="config.current.brandUseLogo" class="img-fluid logo" src="https://placekitten.com/g/256/256"
            alt="Logo">
          <span *ngIf="!config.current.brandUseLogo">Brand</span>
        </a>

        <nav class="mr-0 mr-md-auto mb-1 mb-md-0 d-inline-block">
          <a class="nav-link" [routerLink]="'home'">Home</a>
          <a class="nav-link" [routerLink]="'spinner'">Spinner</a>
          <a class="nav-link" [routerLink]="'cards'">Cards</a>
          <a class="nav-link" [routerLink]="'buttons'">Buttons</a>
          <a class="nav-link" [routerLink]="'forms'">Forms</a>
          <a class="nav-link" [routerLink]="'modals'">Modals</a>
        </nav>

        <nav>

        </nav>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
</ng-container>

<!-- Custom modal setup -->
<div id="modalContainer" class="modal-container d-none">
  <div id="modalContent" class="modal-content">

  </div>
</div>
<div id="modalOverlay" class="modal-overlay d-none"></div>

<ng-template #loading>
  <div class="spinner">
    <em style="position: relative; top: -60px;">Loading...</em>
  </div>
</ng-template>