<div class="container px-2 px-sm-0">
  <h1>Form Samples</h1>

  <div class="card card-form">
    <div class="card-title">Just a Form</div>
    <div class="card-body">
      <div class="form">
        <div class="form-row row">
          <div class="col col-12 col-md-3"><label>Test 1</label></div>
          <div class="col col-12 col-md-9"><input type="text" class="form-control"></div>
        </div>
        <div class="form-row row">
          <div class="col col-6 col-sm-4 col-md-2"><input type="text" class="form-control"></div>
          <div class="col col-6 col-sm-8 col-md-10"><input type="text" class="form-control"></div>
        </div>
      </div>
    </div>
  </div>

  <h2>Auto Padding</h2>
  <div class="form p-auto">
    <div class="row">
      <div class="col col-12 col-md-3"><label>Test 1</label></div>
      <div class="col col-12 col-md-9"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
      <div class="col col-6 col-sm-4 col-md-2"><input type="text" class="form-control"></div>
      <div class="col col-6 col-sm-8 col-md-10"><input type="text" class="form-control"></div>
    </div>
  </div>

  <h2>Border</h2>
  <div class="form p-1 border">
    <div class="row">
      <div class="col col-12 col-md-3"><label>Test 1</label></div>
      <div class="col col-12 col-md-9"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
      <div class="col col-6 col-sm-4 col-md-2"><input type="text" class="form-control"></div>
      <div class="col col-6 col-sm-8 col-md-10"><input type="text" class="form-control"></div>
    </div>
  </div>

  <h2>Col</h2>
  <div class="form">
    <div class="row">
      <div class="col col-12 col-md-3"><input type="text" class="form-control"></div>
      <div class="col"><input type="text" class="form-control"></div>
    </div>
  </div>
</div>