<div class="card card-form">
    <div class="card-title">Just a Form</div>
    <div class="card-body">
        <div class="form">
            <div class="form-row row">
                <div class="col col-12 col-md-3"><label>Test 1</label></div>
                <div class="col col-12 col-md-9"><input type="text" class="form-control"></div>
            </div>
            <div class="form-row row">
                <div class="col col-6 col-sm-4 col-md-2"><input type="text" class="form-control"></div>
                <div class="col col-6 col-sm-8 col-md-10"><input type="text" class="form-control"></div>
            </div>
        </div>
    </div>
    <div class="card-commands">
        <div class="form-row row">
            <div class="col col-6 col-sm-4 col-md-2"></div>
            <div class="col col-6 col-sm-8 col-md-10 text-right">
                <button class="btn btn-outline-danger" (click)="dialog.close()">Close</button>
            </div>
        </div>
    </div>
</div>