<div class="container px-2 px-sm-0">
    <h2>Card Samples</h2>

    <div class="card-columns">
        <div class="card">
            <div class="card-title">Card 1</div>
            <div class="card-body">
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Card 2</div>
            <div class="card-subtitle">Card 2 Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                    their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                    their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                    purpose (injected humour and the like).
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Card 3</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                    Internet tend to repeat predefined chunks as necessary, making this the first true generator on
                    the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                    sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
                    is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <div class="card card-primary">
            <div class="card-title">Primary</div>
            <div class="card-subtitle">Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available!
                </p>
            </div>
        </div>
        <div class="card card-secondary">
            <div class="card-title">Secondary</div>
            <div class="card-subtitle">Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available!
                </p>
            </div>
        </div>
        <div class="card card-action">
            <div class="card-title">Action</div>
            <div class="card-subtitle">Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available!
                </p>
            </div>
        </div>
        <div class="card card-success">
            <div class="card-title">Success</div>
            <div class="card-subtitle">Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available!
                </p>
            </div>
        </div>
        <div class="card card-info">
            <div class="card-title">Info</div>
            <div class="card-subtitle">Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available!
                </p>
            </div>
        </div>
        <div class="card card-warning">
            <div class="card-title">Warning</div>
            <div class="card-subtitle">Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available!
                </p>
            </div>
        </div>
        <div class="card card-danger">
            <div class="card-title">Danger</div>
            <div class="card-subtitle">Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available!
                </p>
            </div>
        </div>
        <div class="card card-form">
            <div class="card-title">Form</div>
            <div class="card-subtitle">Subtitle</div>
            <div class="card-body">
                <p class="card-text">
                    There are many variations of passages of Lorem Ipsum available!
                </p>
            </div>
        </div>
    </div>
</div>